.app-header {
    width: 100%;
    height: 50px;
    background: #0064b1;
    color: #ffffff;
}

.app-header-left {
    float: left;
    height: 100%;
    overflow: hidden;
}

.app-header-left .header-title {
    font-size: 32px;
    margin-left: 30px;
    margin-right: 70px;
    color: #ffffff;
    font-family: Microsoft YaHei, serif;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}
.app-header-left .header-menu {
    font-size: 16px;
    padding: 0 0.25rem;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.app-header-right {
    float: right;
    height: 100%;
}
.app-header-right .header-user-info {
    font-size: 16px;
    padding: 0 0.25rem;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    margin-right: 20px;
    color: #ffffff;
}

.page-nav-left-font {
    font-size: 18px;
}

.media-container {
    min-height: inherit;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-search-form {
    margin-inline-start: 9%;
    margin-inline-end: 9%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.user-block {
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 16px;
}

.user-block .info-header {
    font-size: 20px;
    margin-bottom: 10px;
}

.user-block .info-block {
    margin-top: 10px;
}

.user-block .info-block table {
    margin-top: 10px;
}

.form-group-inline {
    margin-left: 20px;
}

.form-hint {
    margin-left: 3%;
    font-size: 12px;
}