<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="zh">
<head>
    <title>卷宗管理系统</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <!--    解决ajax被springSecurity的CSRF拦截POST和PUT请求的问题-->
    <meta name="_csrf" th:content="${_csrf.token}" />
    <!--    default header name is X-CSRF-TOKEN-->
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <link th:href="@{/css/bootstrap.css}" href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/app.css}" href="css/app.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/font-awesome.css}" href="css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/ionicons.css}" href="css/ionicons.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/AdminLTE.css}" href="css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/skins/_all-skins.css}" href="css/skins/_all-skins.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header app-header">
        <div th:include="commonComponenets :: app-header"></div>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                </div>
            </form>
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header page-nav-left-font">卷宗目录</li>
                <li class="treeview" th:each="directory : ${directoryList}">
                    <a href="#">
                        <i class="fa fa-folder-o"></i>
                        <span th:text="${directory}"></span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li th:each="dossier : ${directoryMap.get(directory)}">
                            <a href="javascript:void(0)" th:onclick="updateCurrentDossier([[${dossier.id}]])">
                                <i th:class="'fa fa-file-' + ${dossier.fileType} + '-o'"></i>
                                <span th:text="${dossier.name}"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/" th:if="${user.roleName ne 'visitor'}" th:href="@{/addDossier(caseNum=${caseInfo.caseNum}, directory=${directory})}">
                                <i class="fa ion-plus-round fa-remove"></i>
                                <span>添加卷宗/证据材料</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form th:if="${user.roleName ne 'visitor'}" class="sidebar-form">
                <div class="input-group">
                    <label for="directoryName"></label><input type="text" id="directoryName" name="directoryName" class="form-control" placeholder="添加目录...">
                    <span class="input-group-btn">
                        <button type="submit" th:onclick="addDirectory([[${caseInfo.caseNum}]])" class="btn btn-flat"><i class="fa fa-plus"></i></button>
                    </span>
                </div>
            </form>
        </section>
    </aside>
    <section class="content-wrapper">
        <div id="div-media-content" style="min-height: inherit">
            <div id="div-media-container" th:fragment="div-media-container" style="min-height: inherit">
                <div class="media-container" th:if="${currentDossier} ne null" th:switch="${currentDossier.fileType}">
                    <audio style="min-width: 50%;" th:case="'audio'" th:src="@{'/dossier/common/getFile/' + ${currentDossier.id}}" controls="controls"></audio>
                    <video th:case="'video'" controls="controls">
                        <source th:src="@{'/dossier/common/getFile/' + ${currentDossier.id}}" />
                        Your browser does not support the video tag.
                    </video>
                    <iframe style="min-height: inherit; min-width: 100%" th:case="pdf" th:src="@{'/js/pdfjs/web/viewer.html?file=http://localhost:8080' + '/dossier/common/getFile/' + ${currentDossier.id}}"></iframe>
                    <embed th:case="*" th:src="@{'/dossier/common/getFile/' + ${currentDossier.id}}" th:title="${currentDossier.name}" />
                </div>
                <div id="div-text-container" th:fragment="div-text-container" style="min-height: inherit">
                    <div class="text-container" th:if="${dossierContent} ne null">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">卷宗文本内容</h3>
                            </div>
                            <div class="box-body">
                                <form id="dossierContentForm" role="form" th:object="${dossierContent}">
                                    <div class="form-group">
                                        <label style="width: 100%">
                                            <input hidden th:field="*{dossierId}">
                                            <span>第</span>
                                            <input readonly type="text" style="width: 60px" th:field="*{part}">
                                            <span th:if="${dossierContent.fileType eq 'pdf'}">页</span>
                                            <span th:if="${dossierContent.fileType ne 'pdf'}">段</span>
                                            <textarea th:onchange="allowSubmit()" type="text" id="ta-content" class="form-control text-content" rows="20" readonly th:field="*{content}"></textarea>
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="box-footer">
                                <button id="btn_modify" type="button" th:onclick="showTextModification()" class="btn btn-primary">修正文本内容</button>
                                <button id="btn_his" type="button" th:onclick="showTextModificationHis([[${dossierContent.dossierId}]],[[${dossierContent.part}]])" class="btn btn-toolbar">历史修改记录</button>
                                <button id="btn_cancel" type="button" th:onclick="cancelTextModification([[${dossierContent.content}]])" style="display: none" class="btn btn-default">取消</button>
                                <button id="btn_submit" form="dossierContentForm" type="button" th:onclick="rectifyDossierContent([[${dossierContent.content}]])" disabled style="display: none" class="btn btn-info pull-right">确认</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="div-his-container">
            <div id="text_his_dialog" th:fragment="text_his_dialog" class="modal fade" role="dialog" aria-hidden="true" title="历史记录" >
                <div class="modal-dialog" style="max-height: 80%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">
                                卷宗历史记录
                            </h4>
                        </div>
                        <div class="modal-body">
                            <ul class="timeline">
                                <li th:each="record : ${contentHisList}">
                                    <i class="fa fa-user bg-aqua" th:if="${record.jobNum ne 'system'}"></i>
                                    <i class="fa fa-server bg-yellow" th:if="${record.jobNum eq 'system'}"></i>
                                    <div class="timeline-item">
                                        <span class="time">
                                            <i class="fa fa-clock-o"></i>
                                            <span th:text="${#dates.format(record.operateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                        </span>
                                        <h3 class="timeline-header">
                                            <a href="#" th:text="${record.jobNum}"></a>
                                            <span th:if="${record.jobNum ne 'system'}">修正卷宗文本内容</span>
                                            <span th:if="${record.jobNum eq 'system'}">识别卷宗文本内容</span>
                                            <span th:if="${record.status eq 2}">(待反馈)</span>
                                            <span th:if="${record.status eq 3}">(已反馈)</span>
                                            <span th:if="${record.status eq 4}">(被覆盖)</span>
                                        </h3>
                                        <div class="timeline-body">
                                            <p th:text="${record.currentValue}"></p>
                                        </div>
                                        <div class="timeline-footer">
                                            <a th:if="${record.status ne 2}" th:onclick="resetContentHis([[${record.id}]])" class="btn btn-primary btn-xs">重置为此版本</a>
                                            <a class="btn btn-danger btn-xs">Delete</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" th:onclick="exitContentHis()" class="btn btn-primary">退出</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.media.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/js/adminlte.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<script type="text/javascript" th:src="@{/js/pdfjs/build/pdf.js}"></script>
<script type="text/javascript" th:src="@{/js/pdfjs/build/pdf.worker.js}"></script>
<script>
    function allowSubmit() {
        $("#btn_submit").removeAttr("disabled");
    }

    function showTextModification() {
        $("#ta-content").removeAttr("readonly");
        $("#btn_cancel").show();
        $("#btn_submit").show();
        $("#btn_modify").hide();
        $("#btn_his").hide();
        $("#btn_submit").attr("disabled", "disabled");
    }

    function cancelTextModification(textContent) {
        $("#ta-content").attr("readonly", "readonly");
        $('#ta-content').val(textContent);
        $("#btn_cancel").hide();
        $("#btn_submit").hide();
        $("#btn_modify").show();
        $("#btn_his").show();
    }
    
    function showTextModificationHis(dossierId, part) {
        alert(dossierId + " " + part);
        $.ajax({
            type: "post",
            url: "../dossier/contentHis",
            data: {dossierId : dossierId, part : part},
            // dataType: 'json',
            // contentType: 'application/json;charset=UTF-8',
            success: function (result) {
                $("#div-his-container").html(result);
                $("#text_his_dialog").modal('show');
            },
            error: function (r) {
                alert("error" + r);
            }
        })
    }

    function rectifyDossierContent(before) {
        var formData = new FormData($("#dossierContentForm")[0]);

        if (validateRectification(before)) {
            $.ajax({
                //几个参数需要注意一下
                type: "post",//方法类型
                url: "../dossier/rectifyContent", //url
                data: formData,
                processData: false,			//对数据不做处理
                contentType: false,
                success: function (result) {
                    alert("卷宗文本内容修改成功！");
                    $('#div-text-container').html(result);
                },
                error : function (r) {
                    console.error(r);
                    alert("修改失败！");
                }
            })
        } else {
            alert("修改操作过大，请检查是否正确！");
        }
    }

    function validateRectification(before) {
        var after = $("#ta-content").val();
        alert(after);
        return Math.abs(before.length - after.length) < 20;
    }

    function exitContentHis() {
        $("#text_his_dialog").modal('hide');
    }

    function resetContentHis(operationRecordId) {
        // alert(dossierId + "" + part + content);
        // var before = $("#ta-content").val();
        // $("#ta-content").val(content);
        // rectifyDossierContent(before);
        $.ajax({
            //几个参数需要注意一下
            type: "get",//方法类型
            url: "../dossier/resetContent/" + operationRecordId, //url
            data: null,
            processData: false,			//对数据不做处理
            contentType: false,
            success: function (result) {
                alert("卷宗文本内容重置成功！");
                $('#div-text-container').html(result);
                $('#div-his-container').modal('hide');
            },
            error : function (r) {
                console.error(r);
                alert("重置失败！");
            }
        })
    }
</script>
</html>