<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- th:fragment 定义需要引入的代码块，该div包含的内容即为引用的公共内容 -->
<div th:fragment="app-header">
    <div class="app-header">
        <div class="app-header-left">
            <span><a th:href="@{/index}" class="header-title">卷宗管理系统</a></span>
            <span class="header-menu" th:text="${title}"></span>
        </div>
        <div class="app-header-right">
            <p class="header-user-info">欢迎，<a th:href="@{/userPage}"><span class="header-user-info" sec:authentication="name"></span></a></p>
        </div>
    </div>
</div>
</html>