<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="zh">
<head>
    <title>卷宗管理系统</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <!--    解决ajax被springSecurity的CSRF拦截POST和PUT请求的问题-->
    <meta name="_csrf" th:content="${_csrf.token}" />
    <!--    default header name is X-CSRF-TOKEN-->
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <link th:href="@{/css/bootstrap.css}" href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/app.css}" href="css/app.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="app">
        <div id="header" class="app-header">
            <div class="app-header-left">
                <span><a th:href="@{/index}" class="header-title">卷宗管理系统</a></span>
                <span class="header-menu">案件列表</span>
            </div>
            <div class="app-header-right">
                <p class="header-user-info">欢迎，<span sec:authentication="name"></span></p>
            </div>
        </div>
        <div id="div-case-list" class="with:80%">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#案号</th>
                        <th>案由</th>
                        <th>立案时间</th>
                        <th>结案时间</th>
                        <th>案件类型</th>
                        <th>审理阶段</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="caseList == null or ${caseList.size} eq 0">
                        <td colspan="3">没有案件信息！</td>
                    </tr>
                    <tr th:each="caseInfo : ${caseList}">
                        <th scope="row" th:text="${caseInfo.caseNum}">-</th>
                        <td th:text="${caseInfo.summary}">-</td>
                        <td th:text="${#dates.format(caseInfo.filingTime, 'yyyy-MM-dd')}">-</td>
                        <td th:text="${#dates.format(caseInfo.closingTime, 'yyyy-MM-dd')}">-</td>
                        <td th:text="${caseInfo.type}">-</td>
                        <td th:text="${caseInfo.stage}">-</td>
                        <td>
                            <a th:href="@{'case/' + ${caseInfo.caseNum}}">查看卷宗</a>
                        </td>
                        <td><a href="javascript:void(0)" th:onclick="removeCase([[${caseInfo.caseNum}]])">删除</a></td>
<!--                        <td><a th:href="@{'case/remove/' + ${caseInfo.caseNum}}">删除</a></td>-->
                        <!--                    <td><a th:href="@{/delete(id=${user.id})}">delete</a></td>-->
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer no-margin-top">
            <ul class="pagination pull-right no-margin">

                <!-- 新建案件 -->
                <li th:if="${caseList.isLast()}">
                    <a th:href="'/case/add'">新建案件</a>
                </li>

                <!-- 首页 -->
                <li>
                    <a th:href="'/index?pageNum=0'">首页</a>
                </li>

                <!-- 上一页 -->
                <li th:if="${caseList.hasPrevious()}">
                    <a th:href="'/index?pageNum=' + ${caseList.previousPageable().getPageNumber()}" th:text="上一页"></a>
                </li>

                <!-- 中间页 -->
                <li th:each="pageNum:${#numbers.sequence(0, caseList.getTotalPages() - 1)}">
                    <a th:href="'/index?pageNum=' + ${pageNum}" th:text="${pageNum + 1}" th:if="${pageNum ne caseList.pageable.getPageNumber()}"></a>
                    <a th:href="'/index?pageNum=' + ${pageNum}" th:text="${pageNum + 1}" th:if="${pageNum eq caseList.pageable.getPageNumber()}" th:style="'font-weight:bold;background: #6faed9;'"></a>
                </li>

                <!-- 下一页 -->
                <li th:if="${caseList.hasNext()}">
                    <a th:href="'/index?pageNum=' + ${caseList.nextPageable().getPageNumber()}" th:text="下一页"></a>
                </li>

                <!-- 尾页 -->
                <li>
                    <a th:href="'/index?pageNum=' + ${caseList.getTotalPages() - 1}">尾页</a>
                </li>

            </ul>
        </div>
    </div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<script>
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    $(document).ajaxSend(function (e, xhr, options) {
        xhr.setRequestHeader(header, token)
    });

    function removeCase(caseNum) {
        $.ajax({
            type: "post",
            url: "case/remove/" + caseNum,
            data: JSON.stringify(caseNum),
            dataType: 'json',
            contentType: 'application/json;charset=UTF-8',
            success: function (result) {
                if (result.code === 0) {
                    alert("删除成功！");
                    window.location.reload();
                } else {
                    alert(result.code + result);
                }
            },
            error: function (r) {
                alert("error" + r);
            }
        })
    }
</script>
</html>