<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="zh">
<head>
    <title>卷宗管理系统</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <!--    解决ajax被springSecurity的CSRF拦截POST和PUT请求的问题-->
    <meta name="_csrf" th:content="${_csrf.token}" />
    <!--    default header name is X-CSRF-TOKEN-->
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <link th:href="@{/css/bootstrap.css}" href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/app.css}" href="css/app.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="app">
        <div th:include="commonComponents :: app-header"></div>
        <div>
            <form class="form-inline case-search-form" id="case-search-form" role="form" action="#" th:action="@{/case/list}" th:object="${caseQueryCondition}" method="get">
                <div class="form-group">
                    <!-- 当前页 -->
                    <label>
                        <input type="hidden" id="pageNumInput" name="pageNumInput" th:field="*{pageNum}" class="form-control" />
                    </label>
                </div>
                <div class="form-group col-sm-2">
                    <label>每页显示行数：
                        <select th:field="*{pageSize}" class="form-control">
                            <option th:selected="*{pageSize eq 5}" th:value="5">5</option>
                            <option th:selected="*{pageSize eq 10}" th:value="10">10</option>
                            <option th:selected="*{pageSize eq 20}" th:value="20">20</option>
                        </select>
                    </label>
                </div>
                <div class="form-group col-sm-2">
                    <label>案件类型：
                        <select th:field="*{type}" class="form-control">
                            <option th:selected="*{type eq null}" th:value="null">所有类型</option>
                            <option th:selected="*{type eq '刑事'}" th:value="刑事">刑事</option>
                            <option th:selected="*{type eq '民事'}" th:value="民事">民事</option>
                            <option th:selected="*{type eq '行政'}" th:value="行政">行政</option>
                            <option th:selected="*{type eq '赔偿'}" th:value="赔偿">赔偿</option>
                            <option th:selected="*{type eq '执行'}" th:value="执行">执行</option>
                        </select>
                    </label>
                </div>
                <div class="form-group col-sm-2">
                    <label>按立案时间：
                        <select th:field="*{descend}" class="form-control">
                            <option th:selected="*{descend eq true}" th:value="true">倒序</option>
                            <option th:selected="*{descend eq false}" th:value="false">正序</option>
                        </select>
                    </label>
                </div>
                <div class="form-group col-sm-3">
                    <label>关键词：
                        <input type="text" th:field="*{keyword}" class="form-control"  placeholder="请输入查询关键字" />
                    </label>
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-primary btn-w-m" id="queryBtn">
                        <span class="glyphicon glyphicon-search"></span> 搜索
                    </button>
                </div>
                <div class="col-sm-1">
                    <a type="button" th:href="@{/index}" class="btn btn-default">重置</a>
                </div>
            </form>
        </div>
        <div id="div-case-list" class="with:80%">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#案号</th>
                        <th>案由</th>
                        <th>立案时间</th>
                        <th>结案时间</th>
                        <th>案件类型</th>
                        <th>审理阶段</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="caseList == null or ${caseList.size} eq 0">
                        <td colspan="3">没有案件信息！</td>
                    </tr>
                    <tr th:each="caseInfo : ${caseList}">
                        <th scope="row" th:text="${caseInfo.caseNum}">-</th>
                        <td th:text="${caseInfo.summary}">-</td>
                        <td th:text="${#dates.format(caseInfo.filingTime, 'yyyy-MM-dd')}">-</td>
                        <td th:text="${#dates.format(caseInfo.closingTime, 'yyyy-MM-dd')}">-</td>
                        <td th:text="${caseInfo.type}">-</td>
                        <td th:text="${caseInfo.stage}">-</td>
                        <td>
                            <a th:href="@{'/case/' + ${caseInfo.caseNum}}">查看卷宗</a>
                            <a href="javascript:void(0)" th:onclick="removeCase([[${caseInfo.caseNum}]])">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer no-margin-top">
            <ul class="pagination pull-right no-margin">

                <!-- 新建案件 -->
                <li>
                    <a th:onclick="showAddCase()">新建案件</a>
                </li>

                <!-- 首页 -->
                <li>
                    <a th:onclick="changePage(0)" >首页</a>
                </li>

                <!-- 上一页 -->
                <li th:if="${caseList.hasPrevious()}">
                    <a th:onclick="changePage([[${caseList.previousPageable().getPageNumber()}]])" th:text="上一页"></a>
                </li>

                <!-- 中间页 -->
                <li th:each="pageNum:${#numbers.sequence(0, caseList.getTotalPages() - 1)}">
                    <a th:onclick="changePage([[${pageNum}]])" th:text="${pageNum + 1}" th:if="${pageNum ne caseList.pageable.getPageNumber()}"></a>
                    <a th:onclick="changePage([[${pageNum}]])" th:text="${pageNum + 1}" th:if="${pageNum eq caseList.pageable.getPageNumber()}" th:style="'font-weight:bold;background: #6faed9;'"></a>
                </li>

                <!-- 下一页 -->
                <li th:if="${caseList.hasNext()}">
                    <a th:onclick="changePage([[${caseList.nextPageable().getPageNumber()}]])" th:text="下一页"></a>
                </li>

                <!-- 尾页 -->
                <li>
                    <a th:onclick="changePage([[${caseList.getTotalPages() - 1}]])">尾页</a>
                </li>

            </ul>
        </div>
        <div id="div-add-case" class="modal fade" role="dialog" aria-hidden="true" style="max-width: 30%">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        新建案件
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="addCaseForm" class="form-horizontal" role="form" action="#" th:action="@{/case/add}" th:object="${caseInfo}" method="post">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">案号</label>
                            <label><input type="text" th:field="*{caseNum}" /> </label>
                            <span th:if="${#fields.hasErrors('caseNum')}" th:errors="*{caseNum}" th:style="'color:red;'"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">案由</label>
                            <label><input type="text" th:field="*{summary}" /> </label>
                            <span th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}" th:style="'color:red;'"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">立案时间</label>
                            <label><input type="date" th:field="*{filingTime}" /> </label>
                            <span th:if="${#fields.hasErrors('filingTime')}" th:errors="*{filingTime}" th:style="'color:red;'"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">结案时间</label>
                            <label><input type="date" th:field="*{closingTime}" /> </label>
                            <span th:if="${#fields.hasErrors('closingTime')}" th:errors="*{closingTime}" th:style="'color:red;'"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">案件类型</label>
                            <label>
                                <select th:field="*{type}" class="form-control">
                                    <option th:value="刑事">刑事</option>
                                    <option th:value="民事">民事</option>
                                    <option th:value="行政">行政</option>
                                    <option th:value="赔偿">赔偿</option>
                                    <option th:value="执行">执行</option>
                                </select>
                            </label>
                            <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}" th:style="'color:red;'"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">案件审理阶段</label>
                            <label>
                                <select class="form-control">
                                    <option>立案</option>
                                    <option>审理中</option>
                                    <option>结案</option>
                                </select>
                            </label>
                            <span th:if="${#fields.hasErrors('stage')}" th:errors="*{stage}" th:style="'color:red;'"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="addCaseForm" class="btn btn-primary pull-left">确认</button>
                    <button type="button" th:onclick="hideAddCase()" class="btn btn-default">取消</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/js/adminlte.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<script>
    $("select").change(function () {
        $("#case-search-form").submit();
    });

    function changePage(pageNum) {
        $("#pageNumInput").val(pageNum);
        $("#case-search-form").submit();
    }

    function showAddCase() {
        $("#div-add-case").modal('show');
    }

    function hideAddCase() {
        $("#div-add-case").modal('hide');
    }
</script>
</html>