<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="zh">
<head>
    <title>卷宗管理系统</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <!--    解决ajax被springSecurity的CSRF拦截POST和PUT请求的问题-->
    <meta name="_csrf" th:content="${_csrf.token}" />
    <!--    default header name is X-CSRF-TOKEN-->
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <link th:href="@{/css/bootstrap.css}" href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/app.css}" href="css/app.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/font-awesome.css}" href="css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/ionicons.css}" href="css/ionicons.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/AdminLTE.css}" href="css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/skins/_all-skins.css}" href="css/skins/_all-skins.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body>
<div class="wrapper">
    <header class="main-header app-header">
        <div th:include="commonComponenets :: app-header"></div>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header page-nav-left-font">用户目录</li>
                <li class="">
                    <a href="#user-info-div" >
                        <i class="fa fa-user"></i>
                        <span>个人信息</span>
                    </a>
                </li>
                <li class="">
                    <a th:onclick="showHisList()">
                        <i class="fa fa-clock-o"></i>
                        <span>卷宗操作记录</span>
                    </a>
                </li>
                <li class="" th:onclick="showAccountHisList()" th:if="${user.isAdmin()}">
                    <a href="#admin-user-list-div">
                        <i class="fa fa-history"></i>
                        <span>账户操作记录</span>
                    </a>
                </li>
                <li class="" th:onclick="showAccountList()" th:if="${user.isAdmin()}">
                    <a href="#admin-user-list-div">
                        <i class="fa fa-cogs"></i>
                        <span>账户管理</span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>
    <section class="content-wrapper">
        <div class="content body">
            <section id="user-info-div" class="user-block invoice">
                <a href="#user-info-div" class="info-header">个人信息</a>
                <div class="row info-block">
                    <div class="col-sm-3">
                        <label>工号：</label>
                        <span th:text="${user.getJobNum()}"></span>
                    </div>
                    <div class="col-sm-3">
                        <label>拥有权限：</label>
                        <span th:text="${user.getRoleName()}"></span>
                    </div>
                    <div class="col-sm-2">
                        <button th:onclick="showModifyDialog([[${user}]])" class="btn btn-primary"><i class="fa fa-edit"></i>  修改个人信息</button>
                    </div>
                </div>
            </section>
            <section id="user-his-div" th:fragment="user-his-div" class="user-block invoice">
                <a href="#user-his-div" class="info-header" th:if="${!user.isAdmin()}">我的操作记录</a>
                <a href="#user-his-div" class="info-header" th:if="${user.isAdmin()}">系统操作记录</a>
                <div id="his-list-container" class="info-block">
                    <div id="his-list-div" th:fragment="his-list-div">
                        <form class="container form-inline" id="his-search-form" role="form" action="#" th:object="${recordQueryCondition}" method="get">
                            <div class="form-group">
                                <!-- 当前页 -->
                                <label>
                                    <input type="hidden" id="hisPageNumInput" th:field="*{pageNum}" class="form-control" />
                                </label>
                            </div>
                            <div class="form-group form-group-inline">
                                <label>每页显示行数：
                                    <select id="hisPageSize" th:field="*{pageSize}" class="form-control">
                                        <option th:selected="*{pageSize eq 5}" th:value="5">5</option>
                                        <option th:selected="*{pageSize eq 10}" th:value="10">10</option>
                                        <option th:selected="*{pageSize eq 20}" th:value="20">20</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group form-group-inline">
                                <label>操作类型：
                                    <select th:field="*{operation}" class="form-control">
                                        <option th:selected="*{operation eq null}" th:value="null">所有操作</option>
                                        <option th:selected="*{operation eq '查看'}" th:value="查看">查看</option>
                                        <option th:selected="*{operation eq '添加'}" th:value="添加">添加</option>
                                        <option th:selected="*{operation eq '删除'}" th:value="删除">删除</option>
                                        <option th:selected="*{operation eq '修改'}" th:value="修改">修改</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group form-group-inline">
                                <label>按时间：
                                    <select id="hisDescend" th:field="*{descend}" class="form-control">
                                        <option th:selected="*{descend eq true}" th:value="true">倒序</option>
                                        <option th:selected="*{descend eq false}" th:value="false">正序</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group form-group-inline" th:if="${user.isAdmin()}">
                                <label>范围：
                                    <select th:field="*{jobNum}" class="form-control">
                                        <option th:selected="*{#strings.isEmpty(jobNum)}" th:value="null">所有</option>
                                        <option th:selected="*{!#strings.isEmpty(jobNum)}" th:value="${user.jobNum}">个人</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group form-group-inline input-group">
                                <input type="text" id="hisKeyword" th:field="*{keyword}" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button type="button" th:onclick="hisSubmit()" name="search" id="his-search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                            </div>
                            <div class="form-group form-group-inline">
                                <button type="button" th:onclick="hisReset()" class="btn btn-default">重置</button>
                            </div>
                        </form>
                        <div class="with:80%">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>工号</th>
                                    <th>操作</th>
                                    <th>#案号</th>
                                    <th>卷宗名称</th>
                                    <th>页数</th>
                                    <th>修改前</th>
                                    <th>修改后</th>
                                    <th th:if="${user.isAdmin()}">已反馈</th>
                                    <th>操作时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${#lists.isEmpty(dossierOperationRecords)}">
                                    <td colspan="3">没有操作记录！</td>
                                </tr>
                                <tr th:each="record : ${dossierOperationRecords}">
                                    <th th:text="${record.jobNum}">-</th>
                                    <td th:text="${record.operation}">-</td>
                                    <td th:text="${record.caseNum}">-</td>
                                    <td th:text="${record.dossierName}">-</td>
                                    <td th:text="${record.pageNum}">-</td>
                                    <td th:text="${record.oldValue}">-</td>
                                    <td th:text="${record.currentValue}">-</td>
                                    <td th:if="${user.isAdmin()}" th:text="${record.status}">-</td>
                                    <td th:text="${#dates.format(record.operateTime, 'yyyy-MM-dd hh:mm:ss')}">-</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer no-margin-top">
                            <ul class="pagination pull-right no-margin">
                                <li>
                                    <a th:onclick="changeHisPage(0)" >首页</a>
                                </li>
                                <li th:if="${dossierOperationRecords.hasPrevious()}">
                                    <a th:onclick="changeHisPage([[${dossierOperationRecords.previousPageable().getPageNumber()}]])" th:text="上一页"></a>
                                </li>
                                <li th:each="pageNum:${#numbers.sequence(0, dossierOperationRecords.getTotalPages() - 1)}">
                                    <a th:onclick="changeHisPage([[${pageNum}]])" th:text="${pageNum + 1}" th:if="${pageNum ne dossierOperationRecords.pageable.getPageNumber()}"></a>
                                    <a th:onclick="changeHisPage([[${pageNum}]])" th:text="${pageNum + 1}" th:if="${pageNum eq dossierOperationRecords.pageable.getPageNumber()}" th:style="'font-weight:bold;background: #6faed9;'"></a>
                                </li>
                                <li th:if="${dossierOperationRecords.hasNext()}">
                                    <a th:onclick="changeHisPage([[${dossierOperationRecords.nextPageable().getPageNumber()}]])" th:text="下一页"></a>
                                </li>
                                <li>
                                    <a th:onclick="changeHisPage([[${dossierOperationRecords.getTotalPages() - 1}]])">尾页</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section id="admin-user-list-div" style="display: none" th:fragment="user-list-div" th:if="${user.isAdmin()}" class="user-block invoice">
                <a href="#admin-user-list-div" class="info-header">系统账户列表</a>
                <div id="account-list-container" class="info-block">
                    <div id="account-list-div" th:fragment="account-list-div">
                        <form class="container form-inline" id="account-search-form" role="form" action="#" th:object="${accountQueryCondition}" method="get">
                            <div class="form-group">
                                <!-- 当前页 -->
                                <label>
                                    <input type="hidden" id="accountPageNumInput" th:field="*{accountPageNum}" class="form-control" />
                                </label>
                            </div>
                            <div class="form-group form-group-inline">
                                <label>每页显示行数：
                                    <select id="accountPageSize" th:field="*{accountPageSize}" class="form-control">
                                        <option th:selected="*{accountPageSize eq 5}" th:value="5">5</option>
                                        <option th:selected="*{accountPageSize eq 10}" th:value="10">10</option>
                                        <option th:selected="*{accountPageSize eq 20}" th:value="20">20</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group form-group-inline">
                                <label>账户角色：
                                    <select th:field="*{role}" class="form-control">
                                        <option th:selected="*{#strings.isEmpty(role)}" th:value="null">所有角色</option>
                                        <option th:selected="*{role eq 'admin'}" th:value="admin">管理员</option>
                                        <option th:selected="*{role eq 'judge'}" th:value="judge">法官</option>
                                        <option th:selected="*{role eq 'partner'}" th:value="partner">合作方</option>
                                        <option th:selected="*{role eq 'visitor'}" th:value="visitor">访客</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group form-group-inline">
                                <label>按工号：
                                    <select id="accountDescend" th:field="*{accountDescend}" class="form-control">
                                        <option th:selected="*{accountDescend eq true}" th:value="true">倒序</option>
                                        <option th:selected="*{accountDescend eq false}" th:value="false">正序</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group form-group-inline input-group">
                                <input type="text" id="accountKeyword" th:field="*{accountKeyword}" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button type="button" id="account-search-btn" th:onclick="accountSubmit()" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                            </div>
                            <div class="form-group form-group-inline">
                                <button type="button" th:onclick="accountReset()" class="btn btn-default">重置</button>
                            </div>
                        </form>
                        <div class="with:80%">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>工号</th>
                                    <th>角色</th>
                                    <th>创建者</th>
                                    <th>创建时间</th>
                                    <th>修改</th>
                                    <th>删除</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${#lists.isEmpty(users)}">
                                    <td colspan="2">没有操作记录！</td>
                                </tr>
                                <tr th:each="account : ${users}">
                                    <td th:text="${account.jobNum}">-</td>
                                    <td th:text="${account.roleName}">-</td>
                                    <td th:text="${account.creator}">-</td>
                                    <td th:text="${#dates.format(account.createTime, 'yyyy-MM-dd hh:mm:ss')}">-</td>
                                    <td><a th:onclick="showModifyDialog([[${account}]])">修改</a> </td>
                                    <td><a th:onclick="deleteUser([[${account.jobNum}]])">删除</a> </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer no-margin-top">
                            <ul class="pagination pull-right no-margin">
                                <li>
                                    <a th:onclick="showAddUserDialog()" >添加账号</a>
                                </li>
                                <li>
                                    <a th:onclick="changeAccountsPage(0)" >首页</a>
                                </li>
                                <li th:if="${users.hasPrevious()}">
                                    <a th:onclick="changeAccountsPage([[${users.previousPageable().getPageNumber()}]])" th:text="上一页"></a>
                                </li>
                                <li th:each="pageNum:${#numbers.sequence(0, users.getTotalPages() - 1)}">
                                    <a th:onclick="changeAccountsPage([[${pageNum}]])" th:text="${pageNum + 1}" th:if="${pageNum ne users.pageable.getPageNumber()}"></a>
                                    <a th:onclick="changeAccountsPage([[${pageNum}]])" th:text="${pageNum + 1}" th:if="${pageNum eq users.pageable.getPageNumber()}" th:style="'font-weight:bold;background: #6faed9;'"></a>
                                </li>
                                <li th:if="${users.hasNext()}">
                                    <a th:onclick="changeAccountsPage([[${accountQueryCondition.getAccountPageNum() + 1}]])" th:text="下一页"></a>
                                </li>
                                <li>
                                    <a th:onclick="changeAccountsPage([[${users.getTotalPages() - 1}]])">尾页</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section id="admin-operation-list-div" style="display: none" th:fragment="admin-operation-list-div" th:if="${user.isAdmin()}" class="user-block invoice">
                <a href="#admin-operation-list-div" class="info-header">账户信息操作记录列表</a>
                <div id="operation-list-container" class="info-block">
                    <div id="operation-list-div" th:fragment="operation-list-div">
                        <form class="container form-inline" id="operation-search-form" role="form" action="#" th:object="${accountOperationQueryCondition}" method="get">
                            <div class="form-group">
                                <!-- 当前页 -->
                                <label>
                                    <input type="hidden" id="operationPageNumInput" th:field="*{operationPageNum}" class="form-control" />
                                </label>
                            </div>
                            <div class="form-group form-group-inline">
                                <label>每页显示行数：
                                    <select id="operationPageSize" th:field="*{operationPageSize}" class="form-control">
                                        <option th:selected="*{operationPageSize eq 5}" th:value="5">5</option>
                                        <option th:selected="*{operationPageSize eq 10}" th:value="10">10</option>
                                        <option th:selected="*{operationPageSize eq 20}" th:value="20">20</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group form-group-inline">
                                <label>操作类型：
                                    <select th:field="*{operationType}" class="form-control">
                                        <option th:selected="*{#strings.isEmpty(operationType)}" th:value="null">所有操作</option>
                                        <option th:selected="*{operationType eq '添加'}" th:value="添加">添加</option>
                                        <option th:selected="*{operationType eq '删除'}" th:value="删除">删除</option>
                                        <option th:selected="*{operationType eq '修改'}" th:value="修改">修改</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group form-group-inline">
                                <label>按时间：
                                    <select id="operationDescend" th:field="*{operationDescend}" class="form-control">
                                        <option th:selected="*{operationDescend}" th:value="true">倒序</option>
                                        <option th:selected="*{!operationDescend}" th:value="false">正序</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group form-group-inline input-group">
                                <input type="text" id="operationKeyword" th:field="*{operationKeyword}" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button type="button" id="operation-search-btn" th:onclick="operationSubmit()" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                            </div>
                            <div class="form-group form-group-inline">
                                <button type="button" th:onclick="operationReset()" class="btn btn-default">重置</button>
                            </div>
                        </form>
                        <div class="with:80%">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>工号</th>
                                    <th>操作</th>
                                    <th>修改属性</th>
                                    <th>旧值</th>
                                    <th>新值</th>
                                    <th>操作时间</th>
                                    <th>处理人</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${#lists.isEmpty(userOperationRecords)}">
                                    <td colspan="2">没有操作记录！</td>
                                </tr>
                                <tr th:each="record : ${userOperationRecords}">
                                    <td th:text="${record.jobNum}">-</td>
                                    <td th:text="${record.operation}">-</td>
                                    <td th:text="${record.attr}">-</td>
                                    <td th:text="${record.oldValue}">-</td>
                                    <td th:text="${record.currentValue}">-</td>
                                    <td th:text="${#dates.format(record.operateTime, 'yyyy-MM-dd hh:mm:ss')}">-</td>
                                    <td th:text="${record.handler}">-</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer no-margin-top">
                            <ul class="pagination pull-right no-margin">
                                <li>
                                    <a th:onclick="changeOperationPage(0)" >首页</a>
                                </li>
                                <li th:if="${userOperationRecords.hasPrevious()}">
                                    <a th:onclick="changeOperationPage([[${userOperationRecords.previousPageable().getPageNumber()}]])" th:text="上一页"></a>
                                </li>
                                <li th:each="pageNum:${#numbers.sequence(0, userOperationRecords.getTotalPages() - 1)}">
                                    <a th:onclick="changeOperationPage([[${pageNum}]])" th:text="${pageNum + 1}" th:if="${pageNum ne userOperationRecords.pageable.getPageNumber()}"></a>
                                    <a th:onclick="changeOperationPage([[${pageNum}]])" th:text="${pageNum + 1}" th:if="${pageNum eq userOperationRecords.pageable.getPageNumber()}" th:style="'font-weight:bold;background: #6faed9;'"></a>
                                </li>
                                <li th:if="${userOperationRecords.hasNext()}">
                                    <a th:onclick="changeOperationPage([[${accountQueryCondition.getAccountPageNum() + 1}]])" th:text="下一页"></a>
                                </li>
                                <li>
                                    <a th:onclick="changeOperationPage([[${userOperationRecords.getTotalPages() - 1}]])">尾页</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <div id="modify_user_dialog" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" title="编辑用户" >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel2">
                                编辑用户信息
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form id="modify-user-form" class="form-horizontal" role="form" method="post">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">工号</label>
                                    <label><input type="text" readonly id="modifyJobNum" name="jobNum" /> </label>
                                    <span class="form-hint" hidden>工号不可编辑</span>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">密码</label>
                                    <label><input type="text" id="modifyPassword" name="password" /> </label>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">角色</label>
                                    <label>
                                        <select id="modifyRoleName" name="roleName" class="form-control">
                                            <option value="admin">系统管理员</option>
                                            <option value="judge">法官</option>
                                            <option value="partner">合作方</option>
                                            <option value="visitor">访客</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">创建者</label>
                                    <label><input type="text" disabled id="modifyCreator" name="creator" /> </label>
                                    <span class="form-hint" hidden>创建者不可编辑</span>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">创建时间</label>
                                    <label><input type="text" disabled id="modifyCreateTime" name="createTime" /> </label>
                                    <span class="form-hint" hidden>创建时间不可编辑</span>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" th:onclick="modifyUser()" class="btn btn-primary">确认</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.media.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/js/adminlte.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<script type="text/javascript" th:src="@{/js/userpage.js}"></script>
<script>
    $(document).on("change", "#operation-search-form", function () {
        operationSubmit();
    });

    function changeHisPage(pageNum) {
        $("#operationPageNumInput").val(pageNum);
        operationSubmit();
    }

    function operationSubmit() {
        var formData = new FormData($("#operation-search-form")[0]);

        $.ajax({
            //几个参数需要注意一下
            type: "post",//方法类型
            url: "../user/operationRefresh", //url
            data: formData,
            processData: false,			//对数据不做处理
            contentType: false,
            success: function (result) {
                console.log(result);
                $('#operation-list-container').html(result);
            }
        })
    }

    function operationReset() {
        $.ajax({
            //几个参数需要注意一下
            type: "get",//方法类型
            url: "../user/operationReset", //url
            success: function (result) {
                console.log(result);
                $('#operation-list-container').html(result)
            }
        })
    }
</script>
</html>